@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #002e3b;
  color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

.headerFileNameTitle {
  font-family: "Roboto", sans-serif;
}

p {
  color: #f4f4f4;
  font-size:small;
  font-family: "Roboto", sans-serif;
}

#directory {
  margin-bottom: 20px;
}
#directory button {
  margin: 5px;
}
#folders {
  margin-left: 20px;
}
#files {
  margin-left: 20px;
}

.headerFileNameTitle {
  margin: 20px;
  font-size: 30px;
  color: #f4f4f4;
}
textarea {
  width: 100%;
  display: none;
  background-color: #002e3b;

  /* height: 400px; */
}
.block {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #002e3b;
  margin-bottom: 5px;
  width: 90%;
  color: #f4f4f4;

  margin-left: 4%;
  min-height: 90px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
  background-color: #001f27;
}
.block:focus {
  outline: none;
}
.editable {
  margin-top: 5px;
  border: 1px solid #002e3b;
  background-color: #002e3b;
  padding: 1%;
  /* font-size: 16px; */
  color: #f4f4f4;
  width: 98%;
  min-height: 100px;
  resize: vertical;
}
#updated-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #3df843;
  color: white;
  padding: 5px;
  border-radius: 35px;
  font-size: 8px;
  display: none;
}
#autosave-toggle {
  margin-bottom: 20px;
}

/* Button to show/hide divs */
#show-modal-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Modal Style */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 300px;
  height: 200px;
}

/* Close Button */
.close-btn {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header {
  /* height: 30px; */
  background-color: #01212b;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.mainbox {
  height: 100%;
  width: 100%;
  /* background-color: #dda50c; */
  display: flex;
  flex-direction: row;
}
.sidebar {
  height: 100%;
  width: 240px;
  /* background-color: #f1f1f1; */
  padding: 8px;
}
.mainview {
  height: 100%;
  width: 80%;
  /* width: calc(80%-240px); */
  margin-top: 10px;
  background-color: #01212b;
  border-radius: 8px;
  padding: 1%;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.codes {
  height: 100%;
  width: 100%;
  /* width: calc(80%-240px); */
  /* background-color: #75b400; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center;  */
}

.recentitems {
  margin-top: 3px;
}
.title_white {
  color: #f4f4f4;
}
